.App {
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #4834d4; */
  /* background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%); */

}
